<Configuration status="debug" name="test-app" packages="">
    <Appenders>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>
    </Appenders>
</Configuration>

<Loggers> 
    <Root level="debug">
        <AppenderRef ref="STDOUT"/>
    </Root>
</Loggers>